/* Phần 2 tạo base  */

* {
  box-sizing: border-box;
}
/* Biển đổi font-size thành 62.5% để biến đổi 1 rem thành 10 px */
html {
  font-size: 62.5%;
}
/* Khôi phục lại cở chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Kết phần 2 : tạo base */

/* =================== COMMENT ================= */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}
.btn {
  display: block;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 24.5px;
  background-color: black;
}

/* =================== HEADER ================= */
.header {
  background: #fffcf4;
}
.header.fix {
  position: sticky;
  top: -28px;
}
.header .header-body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 114px;
}
.header .action {
  margin-left: 49px;
}
