/* Phần 2 tạo base  */

* {
  box-sizing: border-box;
}
/* Biển đổi font-size thành 62.5% để biến đổi 1 rem thành 10 px */
:root {
  --font-heading: "Sen", sans-serif;
  --color-font: #ffb900;
}
html {
  font-size: 62.5%;
}
/* Khôi phục lại cở chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Kết phần 2 : tạo base */

/* =================== COMMENT ================= */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}
.btn {
  display: block;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 999px;
  background-color: black;
}

/* =================== HEADER ================= */
.header {
  background: #fffcf4;
}
.header.fix {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .header-body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 114px;
}
.header .action {
  margin-left: 49px;
}
/* =========================== HERO =============================== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
/* =========================== HERO LEFT ========================== */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;

  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.hero-summary .icon1 {
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .item .info {
  margin-left: 16px;
}
.hero-summary .lable {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
/* ========================== HERO RIGHT ======================  */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.content-block .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  display: flex;
  margin-top: 38px;
  align-items: center;
  margin-bottom: 48px;
}
.hero .btn {
  /* margin-top: 38px; */
  min-width: 180px;
  background-color: var(--color-font);
  line-height: 64px;
}
.btn:hover {
  opacity: 0.9;
}
.hero .watch-video {
  margin-left: 28px;
  display: flex;
  border: none;
  background: transparent;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}
.hero .desc1 strong {
  margin-right: 15px;
  margin-top: 8px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}
